
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section style=" margin-top: 150px; padding-bottom: 50px; height:auto">
    <div style="" class="content-mb width-cus">
        <div class="justify-content-between row " style="margin:auto;">
            <!--Breadcumb-->
            <div class="breadcrumb">
                <a href="#" class="m-r-5">Trang chủ</a>
                <span class="m-r-5"> > </span>
                <a href="#">Tài liệu tham khảo</a>
            </div>

            <!--Title-->
            <div class="justify-content">
                <h3 style="margin: 20px auto">Tuyển chọn 35 đề trắc nghiệm ôn thi tốt nghiệp THPT môn Tiếng Anh năm 2021 (Có đáp án)</h3>
            </div>

            <!--information-->
            <div class="mt-3 mb-3" style="font-size:14px;">
                <span class="font-14">Người chia sẻ: <a class="font-14" style="color: #0080AF">Huynh Van a</a></span> | <span class="font-14">Ngày: <a class="font-14 color-red">08-01-2021</a></span> | <span class="font-14">Loại: <a class="font-14 color-red">PDF</a></span> | <span class="font-14">Số trang: <a class="font-14 color-red">12</a></span>

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" style="font-size: 15px;">
                    Mua
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content" style="margin-top:200px;">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Thanh toán</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Vui lòng thanh toán để tải tài liệu
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--view PDF-->
            <div class="viewPDF" style="height: 800px;"></div>

            <div class="container">
                <div class="row" style="margin:50px 0 0 0; display: flex; justify-content:center">
                    <h4 style="font-weight:300">Tài liệu liên quan</h4>
                </div>
                <div class="catagoty-product">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="simgle-catagory-product">
                                <div class="sss-img">
                                    <img src="/Content/tailieu/img/bg-element/2338124_169.jpg" alt="Tuyển chọn 35 đề trắc nghiệm ôn thi tốt nghiệp THPT môn Tiếng Anh năm 2021 (Có đáp án" />
                                </div>
                                <div class="sss-text">
                                    <a href="/Home/Detail">
                                        <h6 class="maxline-3 ">Tuyển chọn 35 đề trắc nghiệm ôn thi tốt nghiệp THPT môn Tiếng Anh năm 2021 (Có đáp án)</h6>
                                    </a>
                                </div>
                                <div class="grid-container">
                                    <div class="grid-item">
                                        <div class="m-r-5">
                                            <img class="img-h-12" src="/Content/tailieu/img/bg-element/calendar3.svg">
                                        </div>
                                        <span>08/01/2021</span>
                                    </div>
                                    <div class="grid-item">
                                        <div class="m-r-5">
                                            <img class="img-h-12" src="/Content/tailieu/img/bg-element/filetype-pdf.svg">
                                        </div>
                                        <span>387 MB</span>
                                    </div>
                                    <div class="grid-item">
                                        <div class="m-r-5">
                                            <img class="img-h-12" src="/Content/tailieu/img/bg-element/folder-symlink.svg">
                                        </div>
                                        <span>gusulanshi</span>
                                    </div>
                                    <div class="grid-item">
                                        <div class="m-r-5">
                                            <img class="img-h-12" src="/Content/tailieu/img/bg-element/eye.svg">
                                        </div>
                                        <span>1056</span>
                                        <div class="m-r-5 m-l-5">
                                            <img class="img-h-12" src="/Content/tailieu/img/bg-element/download.svg">
                                        </div>
                                        <span>17</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="simgle-catagory-product">
                                <div class="sss-img">
                                    <img src="/Content/tailieu/img/bg-element/2338124_169.jpg" alt="Tuyển chọn 35 đề trắc nghiệm ôn thi tốt nghiệp THPT môn Tiếng Anh năm 2021 (Có đáp án" />
                                </div>
                                <div class="sss-text">
                                    <a href="/Home/Detail">
                                        <h6 class="maxline-3">Tuyển chọn 35 đề trắc nghiệm ôn thi tốt nghiệp THPT môn Tiếng Anh năm 2021 (Có đáp án)</h6>
                                    </a>
                                </div>
                                <div class="grid-container">
                                    <div class="grid-item">
                                        <div class="m-r-5">
                                            <img class="img-h-12" src="/Content/tailieu/img/bg-element/calendar3.svg">
                                        </div>
                                        <span>08/01/2021</span>
                                    </div>
                                    <div class="grid-item">
                                        <div class="m-r-5">
                                            <img class="img-h-12" src="/Content/tailieu/img/bg-element/filetype-pdf.svg">
                                        </div>
                                        <span>387 MB</span>
                                    </div>
                                    <div class="grid-item">
                                        <div class="m-r-5">
                                            <img class="img-h-12" src="/Content/tailieu/img/bg-element/folder-symlink.svg">
                                        </div>
                                        <span>gusulanshi</span>
                                    </div>
                                    <div class="grid-item">
                                        <div class="m-r-5">
                                            <img class="img-h-12" src="/Content/tailieu/img/bg-element/eye.svg">
                                        </div>
                                        <span>1056</span>
                                        <div class="m-r-5 m-l-5">
                                            <img class="img-h-12" src="/Content/tailieu/img/bg-element/download.svg">
                                        </div>
                                        <span>17</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="simgle-catagory-product">
                                <div class="sss-img">
                                    <img src="/Content/tailieu/img/bg-element/2338124_169.jpg" alt="Tuyển chọn 35 đề trắc nghiệm ôn thi tốt nghiệp THPT môn Tiếng Anh năm 2021 (Có đáp án" />
                                </div>
                                <div class="sss-text">
                                    <a href="/Home/Detail">
                                        <h6 class="maxline-3">Tuyển chọn 35 đề trắc nghiệm ôn thi tốt nghiệp THPT môn Tiếng Anh năm 2021 (Có đáp án)</h6>
                                    </a>
                                </div>
                                <div class="grid-container">
                                    <div class="grid-item">
                                        <div class="m-r-5">
                                            <img class="img-h-12" src="/Content/tailieu/img/bg-element/calendar3.svg">
                                        </div>
                                        <span>08/01/2021</span>
                                    </div>
                                    <div class="grid-item">
                                        <div class="m-r-5">
                                            <img class="img-h-12" src="/Content/tailieu/img/bg-element/filetype-pdf.svg">
                                        </div>
                                        <span>387 MB</span>
                                    </div>
                                    <div class="grid-item">
                                        <div class="m-r-5">
                                            <img class="img-h-12" src="/Content/tailieu/img/bg-element/folder-symlink.svg">
                                        </div>
                                        <span>gusulanshi</span>
                                    </div>
                                    <div class="grid-item">
                                        <div class="m-r-5">
                                            <img class="img-h-12" src="/Content/tailieu/img/bg-element/eye.svg">
                                        </div>
                                        <span>1056</span>
                                        <div class="m-r-5 m-l-5">
                                            <img class="img-h-12" src="/Content/tailieu/img/bg-element/download.svg">
                                        </div>
                                        <span>17</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="simgle-catagory-product">
                                <div class="sss-img">
                                    <img src="/Content/tailieu/img/bg-element/2338124_169.jpg" alt="Tuyển chọn 35 đề trắc nghiệm ôn thi tốt nghiệp THPT môn Tiếng Anh năm 2021 (Có đáp án" />
                                </div>
                                <div class="sss-text">
                                    <a href="/Home/Detail">
                                        <h6 class="maxline-3">Tuyển chọn 35 đề trắc nghiệm ôn thi tốt nghiệp THPT môn Tiếng Anh năm 2021 (Có đáp án)</h6>
                                    </a>
                                </div>
                                <div class="grid-container">
                                    <div class="grid-item">
                                        <div class="m-r-5">
                                            <img class="img-h-12" src="/Content/tailieu/img/bg-element/calendar3.svg">
                                        </div>
                                        <span>08/01/2021</span>
                                    </div>
                                    <div class="grid-item">
                                        <div class="m-r-5">
                                            <img class="img-h-12" src="/Content/tailieu/img/bg-element/filetype-pdf.svg">
                                        </div>
                                        <span>387 MB</span>
                                    </div>
                                    <div class="grid-item">
                                        <div class="m-r-5">
                                            <img class="img-h-12" src="/Content/tailieu/img/bg-element/folder-symlink.svg">
                                        </div>
                                        <span>gusulanshi</span>
                                    </div>
                                    <div class="grid-item">
                                        <div class="m-r-5">
                                            <img class="img-h-12" src="/Content/tailieu/img/bg-element/eye.svg">
                                        </div>
                                        <span>1056</span>
                                        <div class="m-r-5 m-l-5">
                                            <img class="img-h-12" src="/Content/tailieu/img/bg-element/download.svg">
                                        </div>
                                        <span>17</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="simgle-catagory-product">
                                <div class="sss-img">
                                    <img src="/Content/tailieu/img/bg-element/2338124_169.jpg" alt="Tuyển chọn 35 đề trắc nghiệm ôn thi tốt nghiệp THPT môn Tiếng Anh năm 2021 (Có đáp án" />
                                </div>
                                <div class="sss-text">
                                    <a href="/Home/Detail">
                                        <h6 class="maxline-3">Tuyển chọn 35 đề trắc nghiệm ôn thi tốt nghiệp THPT môn Tiếng Anh năm 2021 (Có đáp án)</h6>
                                    </a>
                                </div>
                                <div class="grid-container">
                                    <div class="grid-item">
                                        <div class="m-r-5">
                                            <img class="img-h-12" src="/Content/tailieu/img/bg-element/calendar3.svg">
                                        </div>
                                        <span>08/01/2021</span>
                                    </div>
                                    <div class="grid-item">
                                        <div class="m-r-5">
                                            <img class="img-h-12" src="/Content/tailieu/img/bg-element/filetype-pdf.svg">
                                        </div>
                                        <span>387 MB</span>
                                    </div>
                                    <div class="grid-item">
                                        <div class="m-r-5">
                                            <img class="img-h-12" src="/Content/tailieu/img/bg-element/folder-symlink.svg">
                                        </div>
                                        <span>gusulanshi</span>
                                    </div>
                                    <div class="grid-item">
                                        <div class="m-r-5">
                                            <img class="img-h-12" src="/Content/tailieu/img/bg-element/eye.svg">
                                        </div>
                                        <span>1056</span>
                                        <div class="m-r-5 m-l-5">
                                            <img class="img-h-12" src="/Content/tailieu/img/bg-element/download.svg">
                                        </div>
                                        <span>17</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="simgle-catagory-product">
                                <div class="sss-img">
                                    <img src="/Content/tailieu/img/bg-element/2338124_169.jpg" alt="Tuyển chọn 35 đề trắc nghiệm ôn thi tốt nghiệp THPT môn Tiếng Anh năm 2021 (Có đáp án" />
                                </div>
                                <div class="sss-text">
                                    <a href="/Home/Detail">
                                        <h6 class="maxline-3">Tuyển chọn 35 đề trắc nghiệm ôn thi tốt nghiệp THPT môn Tiếng Anh năm 2021 (Có đáp án)</h6>
                                    </a>
                                </div>
                                <div class="grid-container">
                                    <div class="grid-item">
                                        <div class="m-r-5">
                                            <img class="img-h-12" src="/Content/tailieu/img/bg-element/calendar3.svg">
                                        </div>
                                        <span>08/01/2021</span>
                                    </div>
                                    <div class="grid-item">
                                        <div class="m-r-5">
                                            <img class="img-h-12" src="/Content/tailieu/img/bg-element/filetype-pdf.svg">
                                        </div>
                                        <span>387 MB</span>
                                    </div>
                                    <div class="grid-item">
                                        <div class="m-r-5">
                                            <img class="img-h-12" src="/Content/tailieu/img/bg-element/folder-symlink.svg">
                                        </div>
                                        <span>gusulanshi</span>
                                    </div>
                                    <div class="grid-item">
                                        <div class="m-r-5">
                                            <img class="img-h-12" src="/Content/tailieu/img/bg-element/eye.svg">
                                        </div>
                                        <span>1056</span>
                                        <div class="m-r-5 m-l-5">
                                            <img class="img-h-12" src="/Content/tailieu/img/bg-element/download.svg">
                                        </div>
                                        <span>17</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="simgle-catagory-product">
                                <div class="sss-img">
                                    <img src="/Content/tailieu/img/bg-element/2338124_169.jpg" alt="Tuyển chọn 35 đề trắc nghiệm ôn thi tốt nghiệp THPT môn Tiếng Anh năm 2021 (Có đáp án" />
                                </div>
                                <div class="sss-text">
                                    <a href="/Home/Detail">
                                        <h6 class="maxline-3">Tuyển chọn 35 đề trắc nghiệm ôn thi tốt nghiệp THPT môn Tiếng Anh năm 2021 (Có đáp án)</h6>
                                    </a>
                                </div>
                                <div class="grid-container">
                                    <div class="grid-item">
                                        <div class="m-r-5">
                                            <img class="img-h-12" src="/Content/tailieu/img/bg-element/calendar3.svg">
                                        </div>
                                        <span>08/01/2021</span>
                                    </div>
                                    <div class="grid-item">
                                        <div class="m-r-5">
                                            <img class="img-h-12" src="/Content/tailieu/img/bg-element/filetype-pdf.svg">
                                        </div>
                                        <span>387 MB</span>
                                    </div>
                                    <div class="grid-item">
                                        <div class="m-r-5">
                                            <img class="img-h-12" src="/Content/tailieu/img/bg-element/folder-symlink.svg">
                                        </div>
                                        <span>gusulanshi</span>
                                    </div>
                                    <div class="grid-item">
                                        <div class="m-r-5">
                                            <img class="img-h-12" src="/Content/tailieu/img/bg-element/eye.svg">
                                        </div>
                                        <span>1056</span>
                                        <div class="m-r-5 m-l-5">
                                            <img class="img-h-12" src="/Content/tailieu/img/bg-element/download.svg">
                                        </div>
                                        <span>17</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="simgle-catagory-product">
                                <div class="sss-img">
                                    <img src="/Content/tailieu/img/bg-element/2338124_169.jpg" alt="Tuyển chọn 35 đề trắc nghiệm ôn thi tốt nghiệp THPT môn Tiếng Anh năm 2021 (Có đáp án" />
                                </div>
                                <div class="sss-text">
                                    <a href="/Home/Detail">
                                        <h6 class="maxline-3">Tuyển chọn 35 đề trắc nghiệm ôn thi tốt nghiệp THPT môn Tiếng Anh năm 2021 (Có đáp án)</h6>
                                    </a>
                                </div>
                                <div class="grid-container">
                                    <div class="grid-item">
                                        <div class="m-r-5">
                                            <img class="img-h-12" src="/Content/tailieu/img/bg-element/calendar3.svg">
                                        </div>
                                        <span>08/01/2021</span>
                                    </div>
                                    <div class="grid-item">
                                        <div class="m-r-5">
                                            <img class="img-h-12" src="/Content/tailieu/img/bg-element/filetype-pdf.svg">
                                        </div>
                                        <span>387 MB</span>
                                    </div>
                                    <div class="grid-item">
                                        <div class="m-r-5">
                                            <img class="img-h-12" src="/Content/tailieu/img/bg-element/folder-symlink.svg">
                                        </div>
                                        <span>gusulanshi</span>
                                    </div>
                                    <div class="grid-item">
                                        <div class="m-r-5">
                                            <img class="img-h-12" src="/Content/tailieu/img/bg-element/eye.svg">
                                        </div>
                                        <span>1056</span>
                                        <div class="m-r-5 m-l-5">
                                            <img class="img-h-12" src="/Content/tailieu/img/bg-element/download.svg">
                                        </div>
                                        <span>17</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfobject/2.2.3/pdfobject.min.js" integrity="sha512-bHO4iqeyo1tN+C4qnbroCQ5Hxi3aJcEszT0iOt2nkuXZXQf369U3PUsnoN/ebnKQ5V2iS326OIv9pgXxL+F/kQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfobject/2.2.3/pdfobject.js" integrity="sha512-hSmaFzjzbZ7aJhF3zyq2pwZMy+h3mcytHHM+d2dJWCLwRc8FYAMc1oyckOrtSliQ8j/DW+54PjdRsEkDt6MkTQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.13.216/pdf.min.js" integrity="sha512-IM60GPudO4jk+ZQm3UlJgKHhXQi5pNDM6mP+pLKL968YgkHMc7He3aGJOVHEZ9rJ4vAaEtJ8W6SKa7Qq4inzBA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript">
    var namePDF = "/Content/1638325321670583.pdf" + "#toolbar=0";

    if (PDFObject.supportsPDFs) {
        PDFObject.embed(namePDF, ".viewPDF")
    }
    else {
        alert('PDF not exist');
    }
</script>

