
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="catagory-section" @*data-aos="fade-up" data-aos-duration="1000"*@>
    <div class="container">
        <div class="row" style="margin-top: 100px; display: flex; justify-content:center">
            <div class="col-md-2">
                <div class="single-catagory">
                    <img src="/Content/tailieu/img/bg-element/book.svg" style="height:30px;" alt="Tài liệu tham khảo" />
                    <h6 style="height: 80px;">Tài liệu tham khảo</h6>
                </div>
            </div>
            <div class="col-md-2">
                <div class="single-catagory">
                    <img src="/Content/tailieu/img/bg-element/file-earmark-text.svg" style="height:30px;" alt="Luận văn đề tài" />
                    <h6 style="height: 80px;">Luận văn đề tài</h6>
                </div>
            </div>
            <div class="col-md-2">
                <div class="single-catagory">
                    <img src="/Content/tailieu/img/bg-element/bookmark-star.svg" style="height:30px;" alt="Tài liệu khác" />
                    <h6 style="height: 80px;">Tài liệu khác</h6>
                </div>
            </div>
            @*<div class="col-md-2">
                <div class="single-catagory">
                    <img src="/Content/tailieu/img/bg-element/Icon4.png" alt="" />
                    <h6>Tài liệu phổ thông</h6>
                </div>
            </div>
            <div class="col-md-2">
                <div class="single-catagory">
                    <img src="/Content/tailieu/img/bg-element/Icon5.png" alt="" />
                    <h6>Tài liệu trực tuyến</h6>
                </div>
            </div>
            <div class="col-md-2">
                <div class="single-catagory">
                    <img src="/Content/tailieu/img/bg-element/Icon6.png" alt="" />
                    <h6 style="height: 80px;">Bộ sưu tập</h6>
                </div>
            </div>*@
        </div>
        <div class="catagoty-product">
            <div class="row">
                <div class="col-md-3">
                    <div class="simgle-catagory-product">
                        <div class="sss-img">
                            <img src="/Content/tailieu/img/bg-element/2338124_169.jpg" alt="Tuyển chọn 35 đề trắc nghiệm ôn thi tốt nghiệp THPT môn Tiếng Anh năm 2021 (Có đáp án" />
                        </div>
                        <div class="sss-text">
                            <a href="/Home/Detail">
                                <h6 class="maxline-3 ">Tuyển chọn 35 đề trắc nghiệm ôn thi tốt nghiệp THPT môn Tiếng Anh năm 2021 (Có đáp án)</h6>
                            </a>
                        </div>
                        <div class="grid-container">
                            <div class="grid-item">
                                <div class="m-r-5">
                                    <img class="img-h-12" src="/Content/tailieu/img/bg-element/calendar3.svg">
                                </div>
                                <span>08/01/2021</span>
                            </div>
                            <div class="grid-item">
                                <div class="m-r-5">
                                    <img class="img-h-12" src="/Content/tailieu/img/bg-element/filetype-pdf.svg">
                                </div>
                                <span>387 MB</span>
                            </div>
                            <div class="grid-item">
                                <div class="m-r-5">
                                    <img class="img-h-12" src="/Content/tailieu/img/bg-element/folder-symlink.svg">
                                </div>
                                <span>gusulanshi</span>
                            </div>
                            <div class="grid-item">
                                <div class="m-r-5">
                                    <img class="img-h-12" src="/Content/tailieu/img/bg-element/eye.svg">
                                </div>
                                <span>1056</span>
                                <div class="m-r-5 m-l-5">
                                    <img class="img-h-12" src="/Content/tailieu/img/bg-element/download.svg">
                                </div>
                                <span>17</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="simgle-catagory-product">
                        <div class="sss-img">
                            <img src="/Content/tailieu/img/bg-element/2338124_169.jpg" alt="Tuyển chọn 35 đề trắc nghiệm ôn thi tốt nghiệp THPT môn Tiếng Anh năm 2021 (Có đáp án" />
                        </div>
                        <div class="sss-text">
                            <a href="/Home/Detail">
                                <h6 class="maxline-3">Tuyển chọn 35 đề trắc nghiệm ôn thi tốt nghiệp THPT môn Tiếng Anh năm 2021 (Có đáp án)</h6>
                            </a>
                        </div>
                        <div class="grid-container">
                            <div class="grid-item">
                                <div class="m-r-5">
                                    <img class="img-h-12" src="/Content/tailieu/img/bg-element/calendar3.svg">
                                </div>
                                <span>08/01/2021</span>
                            </div>
                            <div class="grid-item">
                                <div class="m-r-5">
                                    <img class="img-h-12" src="/Content/tailieu/img/bg-element/filetype-pdf.svg">
                                </div>
                                <span>387 MB</span>
                            </div>
                            <div class="grid-item">
                                <div class="m-r-5">
                                    <img class="img-h-12" src="/Content/tailieu/img/bg-element/folder-symlink.svg">
                                </div>
                                <span>gusulanshi</span>
                            </div>
                            <div class="grid-item">
                                <div class="m-r-5">
                                    <img class="img-h-12" src="/Content/tailieu/img/bg-element/eye.svg">
                                </div>
                                <span>1056</span>
                                <div class="m-r-5 m-l-5">
                                    <img class="img-h-12" src="/Content/tailieu/img/bg-element/download.svg">
                                </div>
                                <span>17</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="simgle-catagory-product">
                        <div class="sss-img">
                            <img src="/Content/tailieu/img/bg-element/2338124_169.jpg" alt="Tuyển chọn 35 đề trắc nghiệm ôn thi tốt nghiệp THPT môn Tiếng Anh năm 2021 (Có đáp án" />
                        </div>
                        <div class="sss-text">
                            <a href="/Home/Detail">
                                <h6 class="maxline-3">Tuyển chọn 35 đề trắc nghiệm ôn thi tốt nghiệp THPT môn Tiếng Anh năm 2021 (Có đáp án)</h6>
                            </a>
                        </div>
                        <div class="grid-container">
                            <div class="grid-item">
                                <div class="m-r-5">
                                    <img class="img-h-12" src="/Content/tailieu/img/bg-element/calendar3.svg">
                                </div>
                                <span>08/01/2021</span>
                            </div>
                            <div class="grid-item">
                                <div class="m-r-5">
                                    <img class="img-h-12" src="/Content/tailieu/img/bg-element/filetype-pdf.svg">
                                </div>
                                <span>387 MB</span>
                            </div>
                            <div class="grid-item">
                                <div class="m-r-5">
                                    <img class="img-h-12" src="/Content/tailieu/img/bg-element/folder-symlink.svg">
                                </div>
                                <span>gusulanshi</span>
                            </div>
                            <div class="grid-item">
                                <div class="m-r-5">
                                    <img class="img-h-12" src="/Content/tailieu/img/bg-element/eye.svg">
                                </div>
                                <span>1056</span>
                                <div class="m-r-5 m-l-5">
                                    <img class="img-h-12" src="/Content/tailieu/img/bg-element/download.svg">
                                </div>
                                <span>17</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="simgle-catagory-product">
                        <div class="sss-img">
                            <img src="/Content/tailieu/img/bg-element/2338124_169.jpg" alt="Tuyển chọn 35 đề trắc nghiệm ôn thi tốt nghiệp THPT môn Tiếng Anh năm 2021 (Có đáp án" />
                        </div>
                        <div class="sss-text">
                            <a href="/Home/Detail">
                                <h6 class="maxline-3">Tuyển chọn 35 đề trắc nghiệm ôn thi tốt nghiệp THPT môn Tiếng Anh năm 2021 (Có đáp án)</h6>
                            </a>
                        </div>
                        <div class="grid-container">
                            <div class="grid-item">
                                <div class="m-r-5">
                                    <img class="img-h-12" src="/Content/tailieu/img/bg-element/calendar3.svg">
                                </div>
                                <span>08/01/2021</span>
                            </div>
                            <div class="grid-item">
                                <div class="m-r-5">
                                    <img class="img-h-12" src="/Content/tailieu/img/bg-element/filetype-pdf.svg">
                                </div>
                                <span>387 MB</span>
                            </div>
                            <div class="grid-item">
                                <div class="m-r-5">
                                    <img class="img-h-12" src="/Content/tailieu/img/bg-element/folder-symlink.svg">
                                </div>
                                <span>gusulanshi</span>
                            </div>
                            <div class="grid-item">
                                <div class="m-r-5">
                                    <img class="img-h-12" src="/Content/tailieu/img/bg-element/eye.svg">
                                </div>
                                <span>1056</span>
                                <div class="m-r-5 m-l-5">
                                    <img class="img-h-12" src="/Content/tailieu/img/bg-element/download.svg">
                                </div>
                                <span>17</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="simgle-catagory-product">
                        <div class="sss-img">
                            <img src="/Content/tailieu/img/bg-element/2338124_169.jpg" alt="Tuyển chọn 35 đề trắc nghiệm ôn thi tốt nghiệp THPT môn Tiếng Anh năm 2021 (Có đáp án" />
                        </div>
                        <div class="sss-text">
                            <a href="/Home/Detail">
                                <h6 class="maxline-3">Tuyển chọn 35 đề trắc nghiệm ôn thi tốt nghiệp THPT môn Tiếng Anh năm 2021 (Có đáp án)</h6>
                            </a>
                        </div>
                        <div class="grid-container">
                            <div class="grid-item">
                                <div class="m-r-5">
                                    <img class="img-h-12" src="/Content/tailieu/img/bg-element/calendar3.svg">
                                </div>
                                <span>08/01/2021</span>
                            </div>
                            <div class="grid-item">
                                <div class="m-r-5">
                                    <img class="img-h-12" src="/Content/tailieu/img/bg-element/filetype-pdf.svg">
                                </div>
                                <span>387 MB</span>
                            </div>
                            <div class="grid-item">
                                <div class="m-r-5">
                                    <img class="img-h-12" src="/Content/tailieu/img/bg-element/folder-symlink.svg">
                                </div>
                                <span>gusulanshi</span>
                            </div>
                            <div class="grid-item">
                                <div class="m-r-5">
                                    <img class="img-h-12" src="/Content/tailieu/img/bg-element/eye.svg">
                                </div>
                                <span>1056</span>
                                <div class="m-r-5 m-l-5">
                                    <img class="img-h-12" src="/Content/tailieu/img/bg-element/download.svg">
                                </div>
                                <span>17</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="simgle-catagory-product">
                        <div class="sss-img">
                            <img src="/Content/tailieu/img/bg-element/2338124_169.jpg" alt="Tuyển chọn 35 đề trắc nghiệm ôn thi tốt nghiệp THPT môn Tiếng Anh năm 2021 (Có đáp án" />
                        </div>
                        <div class="sss-text">
                            <a href="/Home/Detail">
                                <h6 class="maxline-3">Tuyển chọn 35 đề trắc nghiệm ôn thi tốt nghiệp THPT môn Tiếng Anh năm 2021 (Có đáp án)</h6>
                            </a>
                        </div>
                        <div class="grid-container">
                            <div class="grid-item">
                                <div class="m-r-5">
                                    <img class="img-h-12" src="/Content/tailieu/img/bg-element/calendar3.svg">
                                </div>
                                <span>08/01/2021</span>
                            </div>
                            <div class="grid-item">
                                <div class="m-r-5">
                                    <img class="img-h-12" src="/Content/tailieu/img/bg-element/filetype-pdf.svg">
                                </div>
                                <span>387 MB</span>
                            </div>
                            <div class="grid-item">
                                <div class="m-r-5">
                                    <img class="img-h-12" src="/Content/tailieu/img/bg-element/folder-symlink.svg">
                                </div>
                                <span>gusulanshi</span>
                            </div>
                            <div class="grid-item">
                                <div class="m-r-5">
                                    <img class="img-h-12" src="/Content/tailieu/img/bg-element/eye.svg">
                                </div>
                                <span>1056</span>
                                <div class="m-r-5 m-l-5">
                                    <img class="img-h-12" src="/Content/tailieu/img/bg-element/download.svg">
                                </div>
                                <span>17</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="simgle-catagory-product">
                        <div class="sss-img">
                            <img src="/Content/tailieu/img/bg-element/2338124_169.jpg" alt="Tuyển chọn 35 đề trắc nghiệm ôn thi tốt nghiệp THPT môn Tiếng Anh năm 2021 (Có đáp án" />
                        </div>
                        <div class="sss-text">
                            <a href="/Home/Detail">
                                <h6 class="maxline-3">Tuyển chọn 35 đề trắc nghiệm ôn thi tốt nghiệp THPT môn Tiếng Anh năm 2021 (Có đáp án)</h6>
                            </a>
                        </div>
                        <div class="grid-container">
                            <div class="grid-item">
                                <div class="m-r-5">
                                    <img class="img-h-12" src="/Content/tailieu/img/bg-element/calendar3.svg">
                                </div>
                                <span>08/01/2021</span>
                            </div>
                            <div class="grid-item">
                                <div class="m-r-5">
                                    <img class="img-h-12" src="/Content/tailieu/img/bg-element/filetype-pdf.svg">
                                </div>
                                <span>387 MB</span>
                            </div>
                            <div class="grid-item">
                                <div class="m-r-5">
                                    <img class="img-h-12" src="/Content/tailieu/img/bg-element/folder-symlink.svg">
                                </div>
                                <span>gusulanshi</span>
                            </div>
                            <div class="grid-item">
                                <div class="m-r-5">
                                    <img class="img-h-12" src="/Content/tailieu/img/bg-element/eye.svg">
                                </div>
                                <span>1056</span>
                                <div class="m-r-5 m-l-5">
                                    <img class="img-h-12" src="/Content/tailieu/img/bg-element/download.svg">
                                </div>
                                <span>17</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="simgle-catagory-product">
                        <div class="sss-img">
                            <img src="/Content/tailieu/img/bg-element/2338124_169.jpg" alt="Tuyển chọn 35 đề trắc nghiệm ôn thi tốt nghiệp THPT môn Tiếng Anh năm 2021 (Có đáp án" />
                        </div>
                        <div class="sss-text">
                            <a href="/Home/Detail">
                                <h6 class="maxline-3">Tuyển chọn 35 đề trắc nghiệm ôn thi tốt nghiệp THPT môn Tiếng Anh năm 2021 (Có đáp án)</h6>
                            </a>
                        </div>
                        <div class="grid-container">
                            <div class="grid-item">
                                <div class="m-r-5">
                                    <img class="img-h-12" src="/Content/tailieu/img/bg-element/calendar3.svg">
                                </div>
                                <span>08/01/2021</span>
                            </div>
                            <div class="grid-item">
                                <div class="m-r-5">
                                    <img class="img-h-12" src="/Content/tailieu/img/bg-element/filetype-pdf.svg">
                                </div>
                                <span>387 MB</span>
                            </div>
                            <div class="grid-item">
                                <div class="m-r-5">
                                    <img class="img-h-12" src="/Content/tailieu/img/bg-element/folder-symlink.svg">
                                </div>
                                <span>gusulanshi</span>
                            </div>
                            <div class="grid-item">
                                <div class="m-r-5">
                                    <img class="img-h-12" src="/Content/tailieu/img/bg-element/eye.svg">
                                </div>
                                <span>1056</span>
                                <div class="m-r-5 m-l-5">
                                    <img class="img-h-12" src="/Content/tailieu/img/bg-element/download.svg">
                                </div>
                                <span>17</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
