
@{
    ViewBag.Title = "TinTuc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section style=" margin-top: 150px; padding-bottom: 50px; height:auto">
    <div style="" class="content-mb width-cus">
        <div class="justify-content-between row " style="margin:auto;">
            <div class="col-md-12 pl-5 pr-5">
                <!--Breadcumb-->
                <div class="row">
                    <div class="breadcrumb">
                        <a href="#" class="m-r-5">Trang chủ</a>
                        <span class="m-r-5"> > </span>
                        <a href="#">Tin tức</a>
                    </div>
                </div>

                <!--first blog-->
                <div class="row">
                    <div class="col-md mb-3">
                        <div class="img-first-blog">
                            <img src="/content/tailieu/img/bg-element/tintuc.jpg" alt="alternate text" />
                        </div>
                    </div>

                    <h3 class="title-detail"> Hội nghị Tổng kết công tác kiểm điểm, đánh giá, xếp loại chất lượng tổ chức Đảng, Đảng viên năm 2021 </h3>

                    <div class="time_comment text-left mt5 mb5">
                        <i>10/03/2022</i>
                    </div>

                    <figure class="description mt5 description-mobile"> Sáng ngày 10 tháng 3 năm 2022, Đảng ủy Khối Dân - Chính - Đảng Thành phố Hồ Chí Minh tổ chức Hội nghị Tổng kết công tác kiểm điểm, đánh giá, xếp loại chất lượng tổ chức Đảng, Đảng viên năm 2021. Hội nghị diễn ra tại hội trường Thành ủy Thành phố Hồ Chí Minh. </figure>
                </div>
            </div>
        </div>
    </div>
</section>

