<link href="~/Content/custom.css" rel="stylesheet" />
@{
    ViewBag.Title = "Tours";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--end right search-->
<section class="header-page fade-up header-page-about-us" style="background-size: 100% auto;">
    <div class="bounce-in animate4"></div>
</section>
<div class="divider"><span></span></div>
<!--start page-->
<section id="internalpage">
    <!--start container-->
    <div class="container clearfix">

        <div class="grid_6">
            <!--start archivetour-->
            <div class="archivetour yellow fade-left animate1">

                <!--left-->
                <div class="leftarchivetour">

                    <a href="single-project.html.html"><img alt="" class="imgleftarchivetour opacity" src="/Content/Pioneer/img/tours/photos/img1.jpg"></a>

                    <div class="pricetitleleftarchivetour">

                        <div class="priceleftarchivetour">
                            <p>1000 $</p>
                        </div>
                        <p class="titleleftarchivetour">For person</p>
                    </div>


                </div>
                <!--end left-->
                <!--right-->
                <div class="rightarchivetour">

                    <div class="titledayarchivetour">
                        <a href="single-project.html.html"><p class="titlearchivetour">BRAZIL</p></a>

                        <div class="dayarchivetour">
                            <p>15</p>
                            <span>DAYS</span>
                        </div>

                    </div>

                    <div class="descriptioniconsarchivetour">

                        <p class="descriptionarchivetour">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin cursus, elit vitae fermentum hendrerit, neque erat fringilla nibh.</p>
                        <p class="iconsarchivetour">

                            <a title="Car" class="tooltip" href="#"><img alt="" src="/Content/Pioneer/img/tours/icon/car.png"></a>
                            <a title="Fly and Drive" class="tooltip" href="#"><img alt="" src="/Content/Pioneer/img/tours/icon/plane.png"></a>
                            <a title="Sun" class="tooltip" href="#"><img alt="" src="/Content/Pioneer/img/tours/icon/sun.png"></a>
                            <a title="Insurance included" class="tooltip" href="#"><img alt="" src="/Content/Pioneer/img/tours/icon/insurance.png"></a>
                            <a title="Nature" class="tooltip" href="#"><img alt="" src="/Content/Pioneer/img/tours/icon/nature.png"></a>

                        </p>

                    </div>

                </div>
                <!--end right-->

            </div>
            <!--end archivetour-->
        </div>

        <div class="grid_6">
            <!--start archivetour-->
            <div class="archivetour orange fade-right animate1">

                <!--left-->
                <div class="leftarchivetour">

                    <a href="single-project.html.html"><img alt="" class="imgleftarchivetour opacity" src="/Content/Pioneer/img/tours/photos/img2.jpg"></a>

                    <div class="pricetitleleftarchivetour">

                        <div class="priceleftarchivetour">
                            <p>1000 $</p>
                        </div>
                        <p class="titleleftarchivetour">Bryce canyon tour</p>
                    </div>


                </div>
                <!--end left-->
                <!--right-->
                <div class="rightarchivetour">

                    <div class="titledayarchivetour">
                        <a href="single-project.html.html"><p class="titlearchivetour">WEST COST</p></a>

                        <div class="dayarchivetour">
                            <p>10</p>
                            <span>DAYS</span>

                        </div>

                    </div>

                    <div class="descriptioniconsarchivetour">

                        <p class="descriptionarchivetour">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin cursus, elit vitae fermentum hendrerit, neque erat fringilla nibh.</p>
                        <p class="iconsarchivetour">

                            <a title="Car" class="tooltip" href="#"><img alt="" src="/Content/Pioneer/img/tours/icon/car.png"></a>
                            <a title="Fly and Drive" class="tooltip" href="#"><img alt="" src="/Content/Pioneer/img/tours/icon/plane.png"></a>
                            <a title="Sun" class="tooltip" href="#"><img alt="" src="/Content/Pioneer/img/tours/icon/sun.png"></a>
                            <a title="Insurance included" class="tooltip" href="#"><img alt="" src="/Content/Pioneer/img/tours/icon/insurance.png"></a>
                            <a title="Nature" class="tooltip" href="#"><img alt="" src="/Content/Pioneer/img/tours/icon/nature.png"></a>

                        </p>

                    </div>

                </div>
                <!--end right-->

            </div>
            <!--end archivetour-->
        </div>

        <div class="grid_12 banner_ad fade-left animate1"></div>

        <div class="grid_6">
            <!--start archivetour-->
            <div class="archivetour red fade-left animate1">

                <!--left-->
                <div class="leftarchivetour">

                    <a href="single-project.html.html"><img alt="" class="imgleftarchivetour opacity" src="/Content/Pioneer/img/tours/photos/img3.jpg"></a>

                    <div class="pricetitleleftarchivetour">

                        <div class="priceleftarchivetour">
                            <p>700 $</p>
                        </div>
                        <p class="titleleftarchivetour">Amazing tour</p>
                    </div>


                </div>
                <!--end left-->
                <!--right-->
                <div class="rightarchivetour">

                    <div class="titledayarchivetour">
                        <a href="single-project.html.html"><p class="titlearchivetour">TURKEY</p></a>

                        <div class="dayarchivetour">
                            <p>10</p>
                            <span>DAYS</span>

                        </div>

                    </div>

                    <div class="descriptioniconsarchivetour">

                        <p class="descriptionarchivetour">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin cursus, elit vitae fermentum hendrerit, neque erat fringilla nibh.</p>
                        <p class="iconsarchivetour">

                            <a title="Car" class="tooltip" href="#"><img alt="" src="/Content/Pioneer/img/tours/icon/car.png"></a>
                            <a title="Fly and Drive" class="tooltip" href="#"><img alt="" src="/Content/Pioneer/img/tours/icon/plane.png"></a>
                            <a title="Sun" class="tooltip" href="#"><img alt="" src="/Content/Pioneer/img/tours/icon/sun.png"></a>
                            <a title="Insurance included" class="tooltip" href="#"><img alt="" src="/Content/Pioneer/img/tours/icon/insurance.png"></a>
                            <a title="Nature" class="tooltip" href="#"><img alt="" src="/Content/Pioneer/img/tours/icon/nature.png"></a>

                        </p>

                    </div>

                </div>
                <!--end right-->

            </div>
            <!--end archivetour-->
        </div>

        <div class="grid_6">
            <!--start archivetour-->
            <div class="archivetour green fade-right animate1">

                <!--left-->
                <div class="leftarchivetour">

                    <a href="single-project.html.html"><img alt="" class="imgleftarchivetour opacity" src="/Content/Pioneer/img/tours/photos/img4.jpg"></a>

                    <div class="pricetitleleftarchivetour">

                        <div class="priceleftarchivetour">
                            <p>900 $</p>
                        </div>
                        <p class="titleleftarchivetour">Adventure travel</p>
                    </div>


                </div>
                <!--end left-->
                <!--right-->
                <div class="rightarchivetour">

                    <div class="titledayarchivetour">
                        <a href="single-project.html.html"><p class="titlearchivetour">ITALY</p></a>

                        <div class="dayarchivetour">
                            <p>7</p>
                            <span>DAYS</span>

                        </div>

                    </div>

                    <div class="descriptioniconsarchivetour">

                        <p class="descriptionarchivetour">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin cursus, elit vitae fermentum hendrerit, neque erat fringilla nibh.</p>
                        <p class="iconsarchivetour">

                            <a title="Car" class="tooltip" href="#"><img alt="" src="/Content/Pioneer/img/tours/icon/car.png"></a>
                            <a title="Fly and Drive" class="tooltip" href="#"><img alt="" src="/Content/Pioneer/img/tours/icon/plane.png"></a>
                            <a title="Sun" class="tooltip" href="#"><img alt="" src="/Content/Pioneer/img/tours/icon/sun.png"></a>
                            <a title="Insurance included" class="tooltip" href="#"><img alt="" src="/Content/Pioneer/img/tours/icon/insurance.png"></a>
                            <a title="Nature" class="tooltip" href="#"><img alt="" src="/Content/Pioneer/img/tours/icon/nature.png"></a>

                        </p>

                    </div>

                </div>
                <!--end right-->

            </div>
            <!--end archivetour-->
        </div>
        <div class="grid_12 banner_ad fade-left animate1"></div>

        <div class="grid_6">
            <!--start archivetour-->
            <div class="archivetour blue fade-left animate1">

                <!--left-->
                <div class="leftarchivetour">

                    <a href="single-project.html.html"><img alt="" class="imgleftarchivetour opacity" src="/Content/Pioneer/img/tours/photos/img5.jpg"></a>

                    <div class="pricetitleleftarchivetour">

                        <div class="priceleftarchivetour">
                            <p>1000 $</p>
                        </div>
                        <p class="titleleftarchivetour">Relax tour</p>
                    </div>


                </div>
                <!--end left-->
                <!--right-->
                <div class="rightarchivetour">

                    <div class="titledayarchivetour">
                        <a href="single-project.html.html"><p class="titlearchivetour">ALASKA</p></a>

                        <div class="dayarchivetour">
                            <p>10</p>
                            <span>DAYS</span>

                        </div>

                    </div>

                    <div class="descriptioniconsarchivetour">

                        <p class="descriptionarchivetour">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin cursus, elit vitae fermentum hendrerit, neque erat fringilla nibh.</p>
                        <p class="iconsarchivetour">

                            <a title="Car" class="tooltip" href="#"><img alt="" src="/Content/Pioneer/img/tours/icon/car.png"></a>
                            <a title="Fly and Drive" class="tooltip" href="#"><img alt="" src="/Content/Pioneer/img/tours/icon/plane.png"></a>
                            <a title="Sun" class="tooltip" href="#"><img alt="" src="/Content/Pioneer/img/tours/icon/sun.png"></a>
                            <a title="Insurance included" class="tooltip" href="#"><img alt="" src="/Content/Pioneer/img/tours/icon/insurance.png"></a>
                            <a title="Nature" class="tooltip" href="#"><img alt="" src="/Content/Pioneer/img/tours/icon/nature.png"></a>

                        </p>

                    </div>

                </div>
                <!--end right-->

            </div>
            <!--end archivetour-->
        </div>

        <div class="grid_6">
            <!--start archivetour-->
            <div class="archivetour violet fade-right animate1">

                <!--left-->
                <div class="leftarchivetour">

                    <a href="single-project.html.html"><img alt="" class="imgleftarchivetour opacity" src="/Content/Pioneer/img/tours/photos/img6.jpg"></a>

                    <div class="pricetitleleftarchivetour">

                        <div class="priceleftarchivetour">
                            <p>500 $</p>
                        </div>
                        <p class="titleleftarchivetour">For person</p>
                    </div>


                </div>
                <!--end left-->
                <!--right-->
                <div class="rightarchivetour">

                    <div class="titledayarchivetour">
                        <a href="single-project.html.html"><p class="titlearchivetour">FRANCE</p></a>

                        <div class="dayarchivetour">
                            <p>9</p>
                            <span>DAYS</span>

                        </div>

                    </div>

                    <div class="descriptioniconsarchivetour">

                        <p class="descriptionarchivetour">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin cursus, elit vitae fermentum hendrerit, neque erat fringilla nibh.</p>
                        <p class="iconsarchivetour">

                            <a title="Car" class="tooltip" href="#"><img alt="" src="/Content/Pioneer/img/tours/icon/car.png"></a>
                            <a title="Fly and Drive" class="tooltip" href="#"><img alt="" src="/Content/Pioneer/img/tours/icon/plane.png"></a>
                            <a title="Sun" class="tooltip" href="#"><img alt="" src="/Content/Pioneer/img/tours/icon/sun.png"></a>
                            <a title="Insurance included" class="tooltip" href="#"><img alt="" src="/Content/Pioneer/img/tours/icon/insurance.png"></a>
                            <a title="Nature" class="tooltip" href="#"><img alt="" src="/Content/Pioneer/img/tours/icon/nature.png"></a>

                        </p>

                    </div>

                </div>
                <!--end right-->

            </div>
            <!--end archivetour-->
        </div>


    </div>
    <!--end container-->

</section>
<!--end internal page-->
<div class="divider"><span></span></div>
<script type='text/javascript'>
    /* <![CDATA[ */


    //start parallax
    jQuery(document).ready(function () {

        $('.header-page').parallax("100%", 0.1);

    });
    //end parallax


    //start tooltip
    $(document).ready(function () {
        $(".tooltip").tooltip({ position: { my: "top+0 top-75", at: "center center" } });
    });
    //end tooltip


    /* ]]> */
</script>

