@model ICollection<Outsourcing.Data.Models.ProductAttributeMapping>
@*@foreach (var item in Model)
{
    <div class="form-group">
        <label class="col-sm-3 control-label">@item.Value</label>
        <div class="col-sm-9">
            <input class="col-xs-12 col-md-8" value="@item.Price" type="text"/>
        </div>
    </div>
}*@