<!--start footer-->
<footer id="footer">

    <!--start container-->
    <div class="container clearfix">



        <div class="grid_7 gridfooter clearpadding">
            <h3>@Resources.CONTACTS</h3>
            <p>@Resources.Address<br />@Resources.Phone<br />@Resources.Email</p>
            </div>
        <div class="grid_3 gridfooter clearpadding">
            <p class="socialfooter">
                <a href="#"><img alt="" src="/Content/Pioneer/img/footer/facebook.jpg" /></a><a href="#">
                    <img alt="" src="/Content/Pioneer/img/footer/dribble.jpg" />
                </a><a href="#">
                    <img alt="" src="/Content/Pioneer/img/footer/twitter.jpg" />
                </a><a href="#">
                    <img alt="" src="/Content/Pioneer/img/footer/google.jpg" />
                </a>
            </p>
        </div>




    <div class="grid_12 clearpadding" style="text-align:center; font-size:0.8em; color:gray">
        <p>© Copyright 2015 by Truong Long - All Rights Reserved</p>
    </div>
    </div>
    <!--end container-->

</footer>
<!--end footer-->

    <!--start container-->
  
    <!--end container-->
