<div class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="fta-1">
                    <div class="f-logo">
                        <a href="#"> <img src="/Content/tailieu/img/bg-element/logoHVCB.png" alt="" /></a>
                    </div>
                    <div>
                        <h5 class="text-uppercase" style="color: white  ">HỌC VIỆN CÁN BỘ THÀNH PHỐ HỒ CHÍ MINH</h5>
                        <p class="m-t-5">Cơ sở chính: 324 Chu Văn An, Phường 12, quận Bình Thạnh<br> Tel: (028) 22437830 - Fax: (028) 38412495<br> Email: hocviencanbo@tphcm.gov.vn</p>
                        <p class="m-t-5">Cơ sở 2: Trung tâm Đào tạo, bồi dưỡng nghiệp vụ và ngoại ngữ<br> 146 Võ Thị Sáu, phường Võ Thị Sáu, Quận 3<br> Tel: (028) 22437830 - Fax: (028) 38412495</p>
                    </div>
                    <div class="payment-method">
                        <p>Supported Payment Method</p>
                        <ul>
                            <li><img src="/Content/tailieu/img/bg-element/Card5.png" alt="" /></li>
                            <li><img src="/Content/tailieu/img/bg-element/Card3.png" alt="" /></li>
                            <li><img src="/Content/tailieu/img/bg-element/Card2.png" alt="" /></li>
                            <li><img src="/Content/tailieu/img/bg-element/Card4.png" alt="" /></li>
                            <li><img src="/Content/tailieu/img/bg-element/Card1.png" alt="" /></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="fta-2">
                    <h6 style="font-size:24px;">Chính sách của chúng tôi</h6>
                    <ul>
                        <li><a href="">Chính sách bảo mật</a></li>
                        <li><a href="">Chính sách thanh toán</a></li>
                        <li><a href="">Chính sách vận chuyển</a></li>
                        <li><a href="">Chính sách xử lý khiếu nại</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="fta-2">
                    <h6 style="font-size:24px;">Liên kết nhanh</h6>
                    <ul>
                     
                        <li><a href="">Trang chủ</a></li>
                        <li><a href="">Cửa hàng</a></li>
                        <li><a href="">Liên hệ với chúng tôi</a></li>
                    </ul>
                </div>
            </div>
            @*<div class="col-md-4">
                <div class="subscrive">
                    <h6>Get In Touch</h6>
                    <div class="input-group">
                        <input type="text"
                               class="form-control"
                               placeholder="enter your email address" />
                        <span class="input-group-text" id="basic-addon2">
                            <i class="flaticon-right-arrow"></i>
                        </span>
                    </div>
                    <ul class="f-social">
                        <li>
                            <a href="#"><i class="flaticon-facebook-1"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="flaticon-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="flaticon-linkedin"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="flaticon-instagram-1"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="flaticon-tumblr"></i></a>
                        </li>
                    </ul>
                </div>
            </div>*@
        </div>
        <footer>
            @*<p>
                Copyright © 2021 Boomrom ! All Rights Reserved By
                <a href="https://voidcoders.com/">VoidCoders</a>
            </p>*@
        </footer>
    </div>
</div>
