<div class="hero-area2">
    <div class="container-fluid pl-0">
        <div class="row align-items-center">
            <div class="col-md-6 order-md-1 order-2">
                <div class="hero-img"
                     data-aos="fade-right"
                     data-aos-duration="1500">
                    <img src="/Content/tailieu/img/hero/hero-2.jpg" alt="" />
                </div>
            </div>
            <div class="col-md-6 order-md-2 order-1">
                <div class="hero-content">
                    <img src="/Content/tailieu/img/bg-element/Element.png"
                         alt=""
                         class="hero2-element" />
                    <h1>Make Your Skin Shine & Fresh</h1>
                    <p>
                        Skin care is like dieting. You have to invest time and good
                        effort. There is no instant miracle cure.
                    </p>
                    <div class="reviews">
                        <i class="flaticon-star"></i>
                        <i class="flaticon-star"></i>
                        <i class="flaticon-star"></i>
                        <i class="flaticon-star"></i>
                        <i class="flaticon-star"></i>
                        <p>255 Reviews</p>
                    </div>
                    <h3>$69.00</h3>
                    <div class="button-area">
                        <a href="shop-left.html" class="btn-1">
                            Shop Now <i class="flaticon-right-arrow"></i>
                        </a>
                        <a href="blog-masonry.html" class="btn-2">
                            Category <i class="flaticon-right-arrow"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
