@media only screen and (min-width: 1199px) and (max-width: 1340px) {

	.leftmenuclose, .rightsearchclose{
		display:none;	
	}
}

@media only screen and (min-width: 960px) and (max-width: 1199px) {

	.container{width:960px;}
	
	
	/*start grid*/
	.grid_1 {width:60px;}
	.grid_2 {width:140px;}
	.grid_3 {width:220px;}
	.grid_4 {width:300px;}
	.grid_5 {width:380px;}
	.grid_6 {width:460px;}
	.grid_7 {width:540px;}
	.grid_8 {width:620px;}
	.grid_9 {width:700px;}
	.grid_10 {width:780px;}
	.grid_11 {width:860px;}
	.grid_12 {width:940px;}
	/*end grid*/

	
	/*start tour*/
	.titleimghometour, .datedescriptionhometour, .tabshometour, .listhometour, .footerhometour{
		width:100%;	
	}
	.leftarchivetour, .rightarchivetour{
		width:100%;	
	}
	/*end tour*/
	
	
	/*start footer*/
	.grid_2 .newsletterfooter input[type="text"]{
		width:80px;		
	}
	.grid_3 .newsletterfooter input[type="text"]{
		width:160px;	
	}
	.grid_4 .newsletterfooter input[type="text"]{
		width:240px;		
	}
	.grid_5 .newsletterfooter input[type="text"]{
		width:320px;		
	}
	.grid_6 .newsletterfooter input[type="text"]{
		width:400px;		
	}
	/*end footer*/
	
}


@media only screen and (min-width: 959px) and (max-width: 1100px) {

	.leftmenuclose, .rightsearchclose{
		display:none;	
	}
}



@media only screen and (min-width: 768px) and (max-width: 959px) {
	
	.container {width:744px;}
	
	
	/*start grid*/
	.grid_1 {width:42px;}
	.grid_2 {width:104px;}
	.grid_3 {width:166px;}
	.grid_4 {width:228px;}
	.grid_5 {width:290px;}
	.grid_6 {width:352px;}
	.grid_7 {width:414px;}
	.grid_8 {width:476px;}
	.grid_9 {width:538px;}
	.grid_10 {width:600px;}
	.grid_11 {width:662px;}
	.grid_12 {width:724px;}
	/*end grid*/
	
	
	/*start navigation header*/
	header select{
		display:block;
	}
	#nav, .rightsearchclose, .leftmenuclose{
		display:none;	
	}
	/*end navigation header*/
	
	
	/*start tour*/
	.titleimghometour, .datedescriptionhometour, .tabshometour, .listhometour, .footerhometour{
		width:100%;	
	}
	.leftarchivetour, .rightarchivetour{
		width:100%;	
	}
	/*end tour*/
	
	
	/*start destinations*/
	.leftarchivedestination, .rightarchivedestination{
		width:100%;	
	}
	.btngalleryarchivedestination{
		right:50%;
	}
	/*end destinations*/
	
	
	/*start footer*/
	.grid_2 .newsletterfooter input[type="text"]{
		width:44px;		
	}
	.grid_3 .newsletterfooter input[type="text"]{
		width:106px;	
	}
	.grid_4 .newsletterfooter input[type="text"]{
		width:168px;		
	}
	.grid_5 .newsletterfooter input[type="text"]{
		width:230px;		
	}
	.grid_6 .newsletterfooter input[type="text"]{
		width:292pxpx;		
	}
	.backtotop{
		width:100%;
	}
	.backtotop img{
		float:none;
	}
	/*end footer*/
	

}


@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	body{
		-webkit-text-size-adjust:none;
	}		
	
	.container {width:460px;}
	
	
	/*start grid*/
	.grid_1,
    .grid_2,
    .grid_3,
    .grid_4,
    .grid_5,
    .grid_6,
    .grid_7,
    .grid_8,
    .grid_9,
    .grid_10,
    .grid_11,
    .grid_12{
        width: 440px;
    }
	/*end grid*/
	
	/*start navigation header*/
	header select{
		display:block;
	}
	#nav, .rightsearchclose, .leftmenuclose{
		display:none;	
	}
	/*end navigation header*/

	/*start services*/
	.imgserviceopen, .imgservice{
		display:none;	
	}
	.homeservice{
		border-top:1px solid #55738F;	
	}
	.homeservice:hover{
		background:none;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;	
	}
	/*end services*/

	
	/*start destination*/
	.arrowscarousel{
		display:none;	
	}
	/*end destination*/
	
	/*start tour*/
	.titleimghometour, .datedescriptionhometour, .tabshometour, .listhometour, .footerhometour{
		width:100%;	
	}
	.leftarchivetour, .rightarchivetour{
		width:100%;	
	}
	/*end tour*/
	
	
	/*start footer*/
	.grid_2 .newsletterfooter input[type="text"], .grid_3 .newsletterfooter input[type="text"], .grid_4 .newsletterfooter input[type="text"], .grid_5 .newsletterfooter input[type="text"], .grid_6 .newsletterfooter input[type="text"]{
		width:380px;		
	}
	.backtotop{
		width:100%;
	}
	.backtotop img{
		float:none;
	}
	/*end footer*/
	
}


@media only screen and (min-width: 320px) and (max-width: 479px){
    
	body{
		-webkit-text-size-adjust:none;
	}
	
	.container{
		width:300px;	
	}
	
	
	/*start grid*/
	.grid_1,
    .grid_2,
    .grid_3,
    .grid_4,
    .grid_5,
    .grid_6,
    .grid_7,
    .grid_8,
    .grid_9,
    .grid_10,
    .grid_11,
    .grid_12
	{
        width: 280px;
    }
	/*end grid*/

	
	/*start navigation header*/
	header select{
		display:block;
	}
	#nav, .rightsearchclose, .leftmenuclose{
		display:none;	
	}
	/*end navigation header*/
	
	
	/*services*/
	#services img{
		margin:20px 0px 0px 90px;
		float:none;	
	}
	#services p{
		margin-bottom:20px;	
	}
	#services h2, #services p{
		text-align:center;	
	}
	.imgserviceopen, .imgservice{
		display:none;	
	}
	.homeservice{
		border-top:1px solid #55738F;	
	}
	.homeservice:hover{
		background:none;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;	
	}
	/*services*/
	
	
	/*start destination*/
	.arrowscarousel{
		display:none;	
	}
	/*end destination*/
	
	
	/*start tour*/
	.titleimghometour, .datedescriptionhometour, .tabshometour, .listhometour, .footerhometour{
		width:100%;	
	}
	.leftarchivetour, .rightarchivetour{
		width:100%;	
	}
	/*end tour*/
	
	
	/*start footer*/
	.grid_2 .newsletterfooter input[type="text"], .grid_3 .newsletterfooter input[type="text"], .grid_4 .newsletterfooter input[type="text"], .grid_5 .newsletterfooter input[type="text"], .grid_6 .newsletterfooter input[type="text"]{
		width:220px;		
	}
	.backtotop{
		width:100%;
	}
	.backtotop img{
		float:none;
	}
	/*end footer*/
	
		
}