@using Labixa.Areas.Admin.Controllers
@model GetCallBack
@{
    ViewBag.Title = "GetAccessTokenCallBack";
}

<h2>GetAccessTokenCallBack</h2>
<h2>@Model.access_token</h2>
<h2>@Model.refresh_token</h2>
<h2>@Model.expires_in</h2>

